@import "variables";
@import "mixins";

.demo-container {
  height: 100px;
  width: 50vw;
  font-size: 0.9rem;

  @media #{$media-mobile} {
    width: auto;
  }

  @include margin-vertical(2);
  @include flex($direction: column, $justify-content: space-between);

  .demo-row {
    @include flex();
    @include margin-bottom(2);

    & > div:first-of-type {
      flex: 2;
    }

    & > div:nth-of-type(2) {
      flex: 1;

      @media #{$media-mobile} {
        flex: initial;

        @include margin-left(1);
      }
    }
  }
}
